.container-fluid{
   padding-right: 700px;
   margin-top: 90px;
}

 
 .todo-checkbox {
   margin-left: 20px;
   padding-right: 10px;
 }

 .task-container {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.task-title {
  display: flex;
  justify-content: space-between; /* Écarte le texte et les boutons */
  align-items: center;
}

.task-edit-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Force les éléments à s'aligner en colonne */
}

.task-edit-container .button-group {
  display: flex;
  justify-content: flex-start; /* Aligne les boutons à gauche */
}

.task-edit-container .button-group button {
  width: 40px;
  height: 40px;
  font-size: 16px;
}
h4 {
  font-weight: bold; /* Poids du texte */
  background: linear-gradient(45deg, #ce93d8, #8356d4); /* Dégradé de couleur */
  -webkit-background-clip: text; /* Applique le fond en dégradé au texte */
  color: transparent; 
}


