.container{
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:flex-start
}
.container img{
    position: absolute;
    width: 220px;
    height: 220px;
    top:-8px;
    left: 1500px;
    cursor: pointer;
}

.container .mot {
    position: absolute;

    top: 15px;
    left: 100px;
    height: 35px;
    padding-top: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 20px; 


}