
.container-fluid{
    padding-right: 1100px;
    height: 100px;
    margin-top: 60px;
 }
 
  
  .todo-checkbox {
    margin-left: 20px;
    padding-right: 10px;
  }
 
  .task-container {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
   margin-bottom: 15px;
   background-color: #f9f9f9;
 }
 
 .task-title {
   display: flex;
   justify-content: space-between; /* Écarte le texte et les boutons */
   align-items: center;
 }
 
 .task-edit-container {
   margin-top: 10px;
   display: flex;
   flex-direction: column; /* Force les éléments à s'aligner en colonne */
 }
 
 .task-edit-container .button-group {
   display: flex;
   justify-content: flex-start; /* Aligne les boutons à gauche */
 }
 
 .task-edit-container .button-group button {
   width: 40px;
   height: 40px;
   font-size: 16px;
 }
 
 .body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background: url('/assets/skill.gif ');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }


h2{
  font-size: 20px;

}

  /* Taille plus petite pour la barre de progression */
.progress {
  height: 20px;
}

/* Taille de la barre de progression */
.progress-bar {
  font-size: 14px;
  line-height: 20px;
}

/* Réduire la taille du texte pour la félicitation */
/*h4 {
  font-size: 18px;
  font-weight: 500;
  color: #28a745;
}

/* Bouton plus petit */
button {
  font-size: 14px;
  padding: 8px 16px;
}

/* Taille de l'image de célébration */
img {
  max-width: 350px;  /* Augmente la largeur de l'image */
  height: auto;  /* Maintient les proportions de l'image */
  margin-top: 30px;
}
h4 {
  font-weight: bold; /* Poids du texte */
  background: linear-gradient(45deg, #ce93d8, #8356d4); /* Dégradé de couleur */
  -webkit-background-clip: text; /* Applique le fond en dégradé au texte */
  color: transparent; 
}


 