
  .body {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background: url('/assets/logo.gif ');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .body img{
    width:"100" ;
    height:"78" ;
    margin-top: -15px; 
  }
  h1 {
    padding-top: 2px;
    margin-top: 2px;
    font-size: 3em;
    color: #b39ddb;
    font-weight: bold;
  }
  .container {
    height: 340px;
    width: 500px ;
    text-align: center; /* Centrer le texte et les boutons */
    padding: 30px;
    padding-left: 50px;
    margin-left: 1000px;
    margin-top: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ombre */
    border-radius: 8px; /* Optionnel : coins arrondis */
  }
  .button_container {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    width: 250px;
    gap: 2px;
  }
  .btn-magnifique {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding: 8px;
    font-size: 1.2em;
    color: white;
    background: linear-gradient(45deg, #ce93d8, #b39ddb);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

    
  }

  .btn-magnifique:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #ba68c8, #9575cd);
  }
  
.body img {
    width: 350px;
    height: 350px;
    padding-left: 1200px;
    padding-top: 0px;
}
